<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>爱阅读书</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5649482177498836~5831820499</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>需要使用您的音乐信息，是否允许打开音乐？</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许此App使用蓝牙？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许此App使用日历？</string>
	<key>NSCameraUsageDescription</key>
	<string>需要获取您的相机使用权限，以便您能正常使用拍摄照片、录制视频等功能，是否允许打开相机？</string>
	<key>NSContactsUsageDescription</key>
	<string>请允许使用通讯录权限以接收验证码</string>
	<key>NSLocationUsageDescription</key>
	<string>需要获取您的位置信息，以便为您推荐当地最新的视频和资讯，是否允许获取您的定位？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问您的相册，以便您正常使用照片上传、图片保存等服务，是否允许打开相册？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问您的相册，以便您正常使用照片上传、图片保存等服务，是否允许打开相册？</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>需要访问隐私跟踪</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
